<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keyword" content="">
    <meta name="description" content="button">
    <meta name="author" content="joahreum">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title> guide </title>

    <!-- 가이드CSS -->
    <link rel="stylesheet" type="text/css" href="../../assets/css/default.css" />

    <!-- content.css -->
    <link rel="stylesheet" type="text/css" href="../../assets/css/content.css">

    <!-- 공통JS -->
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/default.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/guide.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui_common.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui_plugin.js"></script>

    <style>
        .wrap:has(.guide) { padding:20px; }
        .guide { padding:15px; }
        .guide h4 { margin-bottom:5px; }
        .guide .border { margin-bottom:20px; padding:20px; border:1px solid #33333323; border-radius:15px; }
        .guide .border li { padding:10px; }

        /* 타이포 */
        .text-wrap + .text-wrap { margin-top:10px; }
    </style>

</head>

<body>
    <div class="wrap">
        <div class="guide">
            <!-- table 안에 button -->
            <div class="sub-text-wrap">
                <h4>tablle 안에 button(table-row)</h4>
            </div>
            <div class="table-type ta-c table-row">
                <table>
                    <caption>테이블 리스트 예시</caption>
                    <colgroup>
                        <col width="*%">
                        <col width="*%">
                        <col width="*%">
                        <col width="*%">
                        <col width="*%">
                        <col width="*%">
                        <col width="*%">
                        <col width="*%">
                        <col width="*%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="row">회차</th>
                            <th scope="row">아이디</th>
                            <th scope="row">성명</th>
                            <th scope="row">부서</th>
                            <th scope="row">휴대폰 번호</th>
                            <th scope="row">이메일 주소</th>
                            <th scope="row">등록자</th>
                            <th scope="row">등록날짜</th>
                            <th scope="row">계정 삭제</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10</td>
                            <td>Abcded02</td>
                            <td>김오릭</td>
                            <td>부서명 노출</td>
                            <td>010-12**-5678</td>
                            <td>abc123@naver.com</td>
                            <td>등록자 성명</br>
                                (ID)</td>
                            <td>2024.09.09</td>
                            <td>
                                <button class="btn btn-text">삭제</button>
                            </td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Abcded02</td>
                            <td>김오릭</td>
                            <td>부서명 노출</td>
                            <td>010-12**-5678</td>
                            <td>abc123@naver.com</td>
                            <td>등록자 성명</br>
                                (ID)</td>
                            <td>2024.09.09</td>
                            <td>
                                <button class="btn btn-text">삭제</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- table-type(dl dt dd) -->
            <div class="sub-text-wrap">
                <h4>table-type(dl dt dd)</h4>
            </div>
            <div class="table-type">
                <div class="col">
                    <dl>
                        <dt>기간</dt>
                        <dd><span>2024.07.29 ~ 2024.08.24</span></dd>
                    </dl>
                    <dl>
                        <dt>오토리스</dt>
                        <dd><span>3,000,000,000</span> 원</dd>
                    </dl>
                    <dl>
                        <dt>렌터카</dt>
                        <dd><span>3,000,000,000</span> 원</dd>
                    </dl>
                    <dl>
                        <dt>합계</dt>
                        <dd><span class="blue">6,000,000,000</span> 원</dd>
                    </dl>
                </div>
            </div>

            <!-- thead 2줄 -->
            <div class="sub-text-wrap">
                <h4>thead 2줄</h4>
            </div>
            <div class="table-wrap">
                <div class="table-type ta-c style2 table-scroll">
                    <table>
                        <caption>테이블 예시</caption>
                        <colgroup>
                            <col width="*%">
                            <col width="*%">
                            <col width="*%">
                            <col width="*%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th rowspan="2">제목</th>
                                <th colspan="3">제목</th>
                            </tr>
                            <tr>
                                <th>제목</th>
                                <th>제목</th>
                                <th>제목</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>내용</td>
                                <td>내용</td>
                                <td>내용</td>
                                <td>내용</td>
                            </tr>
                            <tr>
                                <td>내용</td>
                                <td>내용</td>
                                <td>내용</td>
                                <td>내용</td>
                            </tr>
                            <tr>
                                <td>내용</td>
                                <td>내용</td>
                                <td>내용</td>
                                <td>내용</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- 정보입력 dl dt dd(input 요소 들어감) -->
            <div class="sub-text-wrap">
                <h4>정보입력</h4>
            </div>
            <div class="table-type">
                <div class="col">
                    <dl>
                        <dt>성명</dt>
                        <dd class="form-group">
                            <input id="" title="성명" type="text" name="" class="form-control"
                                placeholder="성명">
                        </dd>
                    </dl>
                    <dl>
                        <dt>주민등록번호</dt>
                        <dd class="form-group"><!--[20241104] input 수정-->
                            <div class="form-row">
                                <div class="col-2">
                                    <input id="" title="주민등록번호 앞자리" type="number" class="form-control"
                                        min="0" step="1" maxlength="6"
                                        oninput="this.value = this.value.slice(0, 6)" name="" value=""
                                        placeholder="">
                                </div>
                                <div class="input-hyphen">-</div>
                                <div class="col-2">
                                    <input id="" title="주민등록번호 뒷자리" type="number" class="form-control jumin"
                                        min="0" step="1" maxlength="1"
                                        oninput="this.value = this.value.slice(0, 1)" placeholder="●"
                                        name="" value="">
                                    <span class="jumintext">●●●●●●</span>
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>휴대폰번호</dt>
                        <dd class="form-group style1">
                            <div class="form-row">
                                <div class="select-box">
                                    <div class="se-select" data-stove="select">
                                        <select class="" title="메뉴구분">
                                            <option value="" disabled="" selected="" hidden="">선택하세요
                                            </option><!-- [D] : default - 셀렉트의 placeholder 기능-->
                                            <option value="0">option 00</option>
                                            <option value="1">option 01</option>
                                            <option value="2">option 02</option>
                                            <option value="3">option 03</option>
                                            <option value="4">option 04</option>
                                            <option value="5">option 05</option>
                                            <option value="6">option 06</option>
                                        </select>
                                        <div class="e-select-dim"></div>
                                    </div>
                                </div>
                                <div class="col-1"><!--[20241104] input 수정-->
                                    <input id="" title="" type="number" name="" class="form-control"
                                        maxlength="11" oninput="this.value = this.value.slice(0,11)"
                                        placeholder="휴대폰번호 입력">
                                </div>
                                <button class="btn btn-input" type="button">인증번호 요청</button>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>인증번호</dt>
                        <dd class="form-group correct time">
                            <div class="form-row">
                                <div class="col-1"><!--[20241104] input 수정-->
                                    <input id="" title="인증번호입력" type="number" class="form-control" name=""
                                        placeholder="숫자 6자리 입력"
                                        oninput="this.value = this.value.slice(0,6)">
                                    <span class="timeNum">3:00</span>
                                </div>
                                <button class="btn btn-input active" type="button">시간연장</button>
                            </div>
                            <p class="info">시간연장은 1회만 할 수 있습니다.</p>
                        </dd>
                    </dl>
                </div>
            </div>

            <!-- table style1 -->
            <div class="sub-text-wrap">
                <h4>table style1</h4>
            </div>
            <div class="table-wrap">
                <div class="table-type table-col">
                    <table>
                        <caption>테이블 설명</caption>
                        <colgroup>
                            <col width="20%">
                            <col width="*">
                            <col width="*">
                            <col width="*">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th scope="col">제목</th>
                                <td colspan="3">내용</td>
                            </tr>
                            <tr>
                                <th scope="col">제목</th>
                                <td>내용</td>
                                <th>제목</th>
                                <td>내용</td>
                            </tr>
                            <tr>
                                <th scope="col">제목</th>
                                <td>내용</td>
                                <th>제목</th>
                                <td>내용</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- 정비상품 안내표 -->
            <div class="sub-text-wrap">
                <h4>table style2</h4>
            </div>
            <div class="table-wrap">
                <div class="table-type ta-c repair style2 mb0">
                    <table>
                        <caption>정비상품(정비-순회정비, 입고정비/소모품 교환-타이어,소모품/고장 및 사고-일반수리, 대차/door to door 서비스-정비,
                            자도차검사),오릭스 정비 Slim에 대한 정비상품 안내표</caption>
                        <colgroup>
                            <col width="*%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                            <col width="10%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th rowspan="2">제목</th>
                                <th colspan="2">제목</th>
                                <th colspan="2">제목</th>
                                <th colspan="2">제목</th>
                                <th colspan="2">제목</th>
                            </tr>
                            <tr>
                                <th>제목</th>
                                <th>제목</th>
                                <th>제목</th>
                                <th>제목</th>
                                <th>제목</th>
                                <th>제목</th>
                                <th>제목</th>
                                <th>제목</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>제목</th>
                                <td>내용</td>
                                <td>내용</td>
                                <td>내용</td>
                                <td>내용</td>
                                <td>내용</td>
                                <td>내용</td>
                                <td>내용</td>
                                <td>내용</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>