<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keyword" content="">
    <meta name="description" content="button">
    <meta name="author" content="joahreum">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
    <title> ACCORDION </title>

    <!-- 가이드CSS -->
    <link rel="stylesheet" type="text/css" href="../../assets/css/default.css" />

    <!-- content.css -->
    <link rel="stylesheet" type="text/css" href="../../assets/css/component.css">

    <!-- 공통JS -->
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/default.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/guide.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui_common.js"></script>
    <script type="text/javascript" src="../../assets/js/ui/ui_plugin.js"></script>

    <style>
        .wrap:has(.guide) {
            padding: 20px;
        }

        .guide {
            padding: 15px;
        }

        .guide h4 {
            margin: 20px 0;
        }

        .guide .border {
            margin-bottom: 20px;
            padding: 20px;
            border: 1px solid #33333323;
            border-radius: 15px;
        }

        .guide .border li {
            padding: 10px;
        }

        /* 타이포 */
        .text-wrap+.text-wrap {
            margin-top: 10px;
        }
    </style>

</head>

<body>
    <div class="wrap">
        <div class="guide">
            <h4>공지사항 아코디언</h4>
            <ul class="accordion-wrap ico">
                <li class="accordion-info">
                    <a href="#none" class="ques toggleChk">
                        <div class="left">
                            <span class="tit">질문 내용이 들어갑니다 질문 내용이 들어갑니다 질문 내용이 들어갑니다 질문 내용이 들어갑니다</span>
                        </div>
                        <div class="right inline">
                            <!-- <span class="btn after-line"><button type="button" class="modifi"><span>수정</span></button><button type="button" class="delete"><span>삭제</span></button></span> -->
                            <span class="date">2024-08-22</span>
                        </div>
                    </a>
                    <div class="ques-cont">
                        <p>
                            질문 내용이 들어갑니다<br>
                            질문 내용이 들어갑니다<br>
                            질문 내용이 들어갑니다<br>
                            질문 내용이 들어갑니다<br>
                        </p>
                    </div>
                </li>

                <li class="accordion-info">
                    <a href="#none" class="ques toggleChk">
                        <div class="left">
                            <span class="tit">질문 내용이 들어갑니다</span>
                        </div>
                        <div class="right inline">
                            <span class="btn after-line"><button type="button" class="modifi"><span>수정</span></button><button type="button" class="delete"><span>삭제</span></button></span>
                            <span class="date">2024-08-22</span>
                        </div>
                    </a>
                    <div class="ques-cont">
                        <p>
                            질문 내용이 들어갑니다<br>
                            질문 내용이 들어갑니다<br>
                            질문 내용이 들어갑니다<br>
                            질문 내용이 들어갑니다<br>
                        </p>
                    </div>
                </li>

                <li class="accordion-info">
                    <a href="#none" class="ques toggleChk">
                        <div class="left">
                            <span class="tit">질문 내용이 들어갑니다</span>
                        </div>
                        <div class="right inline">
                            <span class="btn after-line"><button type="button" class="modifi"><span>수정</span></button><button type="button" class="delete"><span>삭제</span></button></span>
                            <span class="date">2024-08-22</span>
                        </div>
                    </a>
                    <div class="ques-cont">
                        <p>
                            질문 내용이 들어갑니다<br>
                            질문 내용이 들어갑니다<br>
                            질문 내용이 들어갑니다<br>
                            질문 내용이 들어갑니다<br>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>