<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keyword" content="">
    <meta name="description" content="button">
    <meta name="author" content="joahreum">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
	<title> guide </title>
	
	<link href="../asset/css/guide.css" rel="stylesheet" type="text/css" />
    <link href="../asset/css/reset.css" rel="stylesheet" type="text/css" />

    <style>
        .wrap { display:grid; padding:30px; align-items:center; text-align:center; width:100%; min-width:100%; max-width:350px; height:90vh; margin:0 auto; }
    </style>

</head>

<body>
    <div class="wrap">
        화면ID를 선택시, 오른쪽에서 화면을 볼 수 있습니다.<br />
        상태를 선택시, 새창으로 화면이 열립니다.
    </div>   
</body> 
</html>

