/*********************************************************************
    #title
*********************************************************************/
/*---------------------------------------------
    text-wrap
    h2 = 페이지 타이틀
    h3 = 팝업 타이틀
---------------------------------------------*/
.text-wrap h2 { font-size:var(--font28); font-weight:var(--w-bold); color:var(--title); }
.text-wrap p.sub-tit { display:block; padding-top:27px; font-size:var(--font22); font-weight:var(--w-regular); color:var(--title); line-height:34px; }
.text-wrap p.sub-tit span { font-weight:var(--w-bold); }
.text-wrap h3 { font-size:var(--font22); font-weight:var(--w-bold); color:var(--normal); }

/*---------------------------------------------
    sub-text-wrap(기본 padding:20px 0;)
    h4 = 본문 타이틀
    caption1 = 아이콘 O
	caption2 = 아이콘 X
---------------------------------------------*/
.sub-text-wrap { padding:20px 0; }
.sub-text-wrap h4 { font-size:var(--font20); font-weight:var(--w-bold); color:var(--title); text-align:left; }
.sub-text-wrap [class^="info"] { font-size:var(--font14); font-weight:var(--w-regular); }

.caption1 { padding-left:20px; }
.caption1:before { content:''; position:absolute; left:0; display:inline-block; width:16px; height:16px; background:url(../images/common/info.png)no-repeat 50%/14px auto; }

[class*='caption'] { margin-top:10px; }

/*---------------------------------------------
    유효성 체크
    info1 = 아이콘 O
---------------------------------------------*/
.form-group .info1 { display:none; }

.form-group.error .info1,
.form-group .info1 { display:block; }

.form-group.error .info1,
.form-group .info1 { padding-left:24px; margin-top:8px; font-size:var(--font14); font-weight:var(--w-regular); }

.form-group.error .info1 { color:var(--error); }

.form-group .info1 { color:var(--secondary); }

.form-group .info1:before,
.form-group.error .info1:before,
.caption1:before { content:''; position:absolute; left:0; width:16px; height:16px; }

.form-group .info1:before,
.caption1:before { background:url("../images/common/info.png")no-repeat 50%/14px auto;  }

.form-group.error .info1:before { background:url("../images/common/info_error.png")no-repeat 50%/14px auto; }

.form-group.error input.form-control:invalid,
.form-group.error input.form-control  { border:1px solid var(--error); }


/*********************************************************************
#블릿텍스트
*********************************************************************/
.bul-hypn > li,
.bul-dot > li,
.bul-refer > li { display:inline-block; width:100%; padding-left:15px; }

/* - */
.bul-hypn > li::before{ content:'-'; position:absolute; left:0; }

/* . */
p + .bul-dot,
.bul-dot + .bul-refer,
.bul-refer + p { margin-top:10px; }

.bul-dot > li { margin-bottom:10px; }
.bul-dot > li:last-child { margin-bottom:0; }
.bul-dot > li::before { content:'·'; position:absolute; left:0; }

/* ※ */
.bul-refer > li { padding-left:20px; }
.bul-refer > li::before { content:'※'; position:absolute; left:0; }

/*********************************************************************
table #테이블
*********************************************************************/
.table-type { margin-bottom:40px; }
tfoot tr td { padding:20px 0; border-top:1px solid var(--border3); border-right:1px solid var(--border3); font-weight:var(--w-bold); color:var(--title); background:var(--background4); }
tfoot tr td:last-child { border-right:none; }

/*---------------------------------------------
    테이블 : table-row
---------------------------------------------*/
.table-row { text-align:center; }
.table-row thead tr th { padding:20px 0; border-right:1px solid var(--border3); border-top:1px solid var(--border2); border-bottom:1px solid var(--border3); font-size:var(--font18); font-weight:var(--w-bold); color:var(--normal); background:var(--background2); }
.table-row thead tr th:last-child { border-right:none; }

.table-row tbody tr td { padding:20px 0; border-bottom:1px solid var(--border3); border-left:1px solid var(--border3); font-weight:var(--w-regular); line-height:1.5; color:var(--normal); }
.table-row tbody tr td:first-child { border-left:none; }

/* 실적내역 테이블 */
.table-type.style2 thead { border-top:1px solid var(--border1); }
.table-type.style2 thead th { padding:20px 0; font-size:var(--font16); border:1px solid var(--border1); font-weight:var(--w-bold); color:var(--title); background:var(--background2); }
.table-type.style2 thead tr:first-child th:first-child { padding:50px 0; }
.table-type.style2 tbody td { padding:20px 0; border:1px solid var(--border3); border-top:none; border-left:none; }
.table-type.style2 tbody td:first-child { border-left:none; }
.table-type.style2 tbody td:last-child { border-right:none; }
.table-type.style2 tbody td.sum { font-weight:var(--w-bold); color:var(--background3); }
.table-type.style2 tbody td.details.sum { font-weight:var(--w-regular); }

.table-type.style2 thead tr:first-child th[rowspan]:first-child { border-left:none; }
.table-type.style2 thead tr:first-child th[rowspan]:last-child { border-right:none; }

/* td 안에 a태그 */
.table-type.style2 tbody td a { text-decoration:underline; text-underline-offset:5px; }
.table-type.style2 tbody td.on a { font-weight:var(--w-bold); color:var(--secondary); }

/* 정비상품 안내표 */
.table-type.style2 tr th { border:1px solid var(--border3); border-left:0; background:var(--background2); }

/*---------------------------------------------
    테이블 : table-col
---------------------------------------------*/
/* 블럭+보더바텀 */
.dp-b-b { display:block!important; border-bottom:1px solid var(--border3); }
.dp-b-b:last-child { border-bottom:none; }

/* 테이블 역할을 부여한 형식 */
.table-type > .col { border-top:1px solid var(--border3); border-bottom:1px solid var(--border3); }
.table-type > div dt { margin:0; padding:20px 0; background:var(--background2); color:var(--normal); font-weight:700; text-align:center; }
.table-type > div dd { padding:20px; }
.table-type > div.col dl { display: table; width: 100%; table-layout: fixed; }
.table-type > div.col dl + dl{ border-top:1px solid var(--border3); }

.table-type > div.col dt,
.table-type > div.col dd { width:auto; display:table-cell; }
.table-type > div.col dd:has(.change-txt.num) { text-align:right; }
.table-type > div.col dd.form-group:not(.form-group.style1, .form-group.file) { display:block; }
.table-type > div.col dt { width:190px; vertical-align:middle; border-right:1px solid var(--border1); font-size:var(--font16); font-weight:var(--w-bold); color:var(--title); line-height:23px; }

.table-type > div.col  dd.result-num { font-size:var(--font22); font-weight:var(--w-bold); }
.table-type > div.col  dd.result-num-s { font-size:var(--font16); font-weight:var(--w-bold); }

/** 기본 테이블-col **/
.table-type.table-col { margin-bottom:0; }
.table-col th,
.table-col td { border:1px solid var(--border3); }
.table-col td:last-child { border-right:none; }

.table-col th { padding:4px 0 5px; border-left:none; font-size:var(--font14); font-weight:var(--w-regular); color:var(--title); text-align:center; background:var(--background2); }
.table-col td { padding:4px 12px 5px; border-right:1px solid var(--border3); font-size:var(--font14); font-weight:var(--w-regular); line-height:1.5; }

/*---------------------------------------------
    테이블 : table-scroll
---------------------------------------------*/
.table-type.table-scroll { overflow:auto; max-height:779px; }
.table-type.table-scroll::-webkit-scrollbar { width:14px; }
.table-type.table-scroll::-webkit-scrollbar-thumb { width:11px; background-color:var(--border2); border-radius:2px; }
.table-type.table-scroll::-webkit-scrollbar-track { width:14px; background-color:var(--background2); border-radius:5px; }
.table-type.table-scroll::-webkit-scrollbar-button {  height:100%; }
.table-type.table-scroll thead { position:sticky; top:0; z-index:1; background:var(--background2); }
.table-type.table-scroll table {  border-collapse: separate; border-spacing: 0;}
.table-type.table-scroll thead th { border:initial; border-right:1px solid var(--border1); }
.table-type.table-scroll thead th:last-child {  border-right:0; }
.table-type.table-scroll thead tr:first-child th { border-top:1px solid var(--border1); }
.table-type.table-scroll thead tr:first-child th[colspan]:last-child { border-bottom:1px solid var(--border1); }

/* td */
.table-type.table-scroll tbody tr .details,
.table-type.table-scroll tfoot tr .details{ font-size:0; }
.table-type.table-scroll tbody tr .details.sum,
.table-type.table-scroll tfoot tr .details.sum { color:var(--background3); }
.table-type.table-scroll tbody tr .details div,
.table-type.table-scroll tfoot tr .details div { display:inline-block; font-size:var(--font16); font-weight:var(--w-regular); }
.table-type.table-scroll tbody tr .details div:first-child:after,
.table-type.table-scroll tfoot tr .details div:first-child:after { content:""; display:inline-block; margin:0 10px; width:1px; height:14px; background:var(--border2); vertical-align:baseline; }
.table-type.table-scroll tbody tr .details div:only-child:after,
.table-type.table-scroll tfoot tr .details div:only-child:after { content:none; }
.table-type.table-scroll tbody tr .details.sum div:first-child:after,
.table-type.table-scroll tfoot tr .details.sum div:first-child:after { background:var(--background3); }
.table-type.table-scroll tbody tr:last-child td { border-bottom:none; }
.table-type.table-scroll tfoot tr td { border-bottom:1px solid var(--border3); }

/* tfoot */
.table-type.table-scroll tfoot { position:sticky; bottom:0; z-index:1; }
.table-type.table-scroll tfoot tr .details div { font-weight:var(--w-bold); }

/*********************************************************************
FORM #폼
*********************************************************************/
/*폼버튼*/
button.btn { display:inline-block; padding:0 40px; margin:0; height:54px; font-size:var(--font20); font-weight:var(--w-bold); text-align:center; vertical-align:middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;  user-select: none; background: transparent; border: transparent; border-radius: 6px;  word-break: keep-all; cursor: pointer; }
button.btn.btn-input { height:46px; padding:0 16px; font-size:var(--font16); color:var(--inactive); background:var(--background1); }
button.btn.btn-input.active { color:var(--white); background: var(--background3); }
button.btn.btn-input:disabled { cursor:unset; background:var(--background1); }
/*---------------------------------------------
	Form Common Layout
---------------------------------------------*/
.form-group input.form-control{ width:100%; }

.form-group label { margin-bottom:14px; line-height:1; font-size:var(--font14); color:var(--inactive); } /*라벨*/
.form-group.check label,
.form-group.radio label { margin-bottom:0; font-size:var(--font16); }/*체크, 라디오 라벨*/
.form-wrap .form-group:first-child { margin-top:0; }
.form-wrap .form-group { margin-top:24px; }
.form-group { display:block; }
.form-group .form-row { display:flex; flex-wrap:nowrap; width:100%; gap:10px; }
/**  checkbox/radio **/
.form-group.check ul.check-box,
.form-group.radio ul.radio-box { display:flex; flex-wrap:wrap; gap:20px; }
/* radio column */
.form-group.radio ul.radio-box.column { flex-direction:column; }
/** Form Layout - 컨포넌트 3개 이상일 경우 **/
.form-group .form-row .select-box { width:100%; max-width:162px; }
/* Form Layout - search */
.form-wrap.search .form-group { width:100%; max-width:956px; }
/** Form Layout - footer **/
.form-group.style2 { width:100%; max-width:331px; }
.form-group.style2 .select-box { width:100%; max-width:263px; }
.form-group.style2 .select-box > .se-select[data-stove=select] div.stove-option-layer { bottom:48px; }
.form-group.style2 .select-box > .se-select[data-stove=select] div.stove-option-layer,
.form-group.style2 .select-box > .se-select select { border-radius:6px; }
.form-group.style2 .select-box > .se-select select,
.form-group.style2 button.btn { height:40px; line-height: 1; }
/* Form Layout - 788px */
.form-group.style3 { width:100%; max-width:788px; }

/*********************************************************************
INPUT  #인풋
*********************************************************************/
/*---------------------------------------------
	Input Reset
---------------------------------------------*/
input { display:block; width:100%; line-height:initial; box-sizing:border-box; border:none; border-radius: 0; background-color: none; -o-appearance:none; -webkit-appearance:none; -moz-appearance: none; appearance: none; white-space: nowrap; overflow:hidden; outline:none; cursor: pointer; }
input:disabled { cursor: initial; }
/** Firefox Browser **/
input[type=number],
input[type=number] { -moz-appearance: textfield; }
/** Webkit Browser (예: Chrome, Safari) **/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
/** Edge Browser **/
input[type="password"]::-ms-reveal { display: none; }
input[type="radio"],
input[type="checkbox"] {  box-sizing: border-box; padding:0; }
input::-ms-clear,
input::-ms-reveal { display: none;}

/*---------------------------------------------
	Input Default
---------------------------------------------*/
textarea { overflow-y:scroll; width:100%; height:240px; padding:14px 16px; resize:none; white-space:pre-line; line-height:1.188rem; font-size:var(--font16); font-weight:var(--w-regular); color:var(--subtitle); border:1px solid var(--border2); background-color: var(--white); transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; border-radius: 0; -moz-border-radius: 0;-webkit-border-radius: 0; }
input.form-control,
.form-group .upload-name { padding:0 16px; height:46px; line-height:1.188rem; font-size:var(--font16); font-weight:var(--w-regular); color:var(--subtitle); border:1px solid var(--border2); background-color: var(--white); transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;  }
input.form-control.amount-num { padding:0 32px 0 16px; }
textarea::placeholder,
input.form-control::placeholder { color:var(--subtitle); }
input.form-control::-moz-placeholder,
input.form-control::-ms-input-placeholder { color:var(--subtitle); }
textarea:focus-visible,
input.form-control:focus-visible { border-color:var(--normal); color:var(--normal); }
textarea:valid,
input.form-control:valid { color:var(--normal); }
input.form-control:disabled { background: var(--background2); color:var(--inactive); }
input.form-control:read-only { border:1px solid var(--border2); }
/*textarea error - default [현재는 form-group에 error 클래스를 추가하여 전체 스타일 적용상태]*/
.form-group.error textarea { border:1px solid var(--error); }

/*---------------------------------------------
	Input Floating
---------------------------------------------*/
.form-group.floating { position: relative; }
.form-group.floating .form-control { padding: 12px 10px; width: 100%; outline: none; font-size: var(--font16); font-weight: var(--w-regular); background: transparent; color: var(--normal); transition: border-color 0.3s, box-shadow 0.3s; }
.form-group.floating .form-control:focus { border-color: var(--primary); box-shadow: 0 0 5px rgba(15, 56, 98, 0.3); }
.form-group.floating label { position: absolute; left: 12px; top: 50%; transform: translateY(-50%); padding: 0 5px; font-size: var(--font16); color: var(--inactive);  transition: all 0.3s ease; pointer-events: none; }

/* 포커스 또는 값 입력 시 라벨 이동 */
.form-group.floating .form-control:focus + label,
.form-group.floating .form-control:not(:placeholder-shown) + label { top: 0; font-size: var(--font12); color: var(--primary); background: var(--white); }

/*********************************************************************
INPUT_ ETC
*********************************************************************/
/*---------------------------------------------
	Input_첨부파일 File Custom
---------------------------------------------*/
.form-group .upload-name { display:flex; align-items: center; width:100%; /*max-width:410px;*/ }
input.form-control.plus-file { position:absolute; left:0; top:0; width:100%; height:100%; opacity: 0; cursor: pointer; font-size:0; /*max-width:512px;*/ z-index:1; }

/*---------------------------------------------
	Input_첨부파일 error
---------------------------------------------*/
.form-group.error .upload-name { border:1px solid var(--error); }

/*---------------------------------------------
    Input_첨부파일_File Custom_파일첨부했을 때 list
---------------------------------------------*/
.add-file li { display:inline-flex; margin-top:20px; margin-right:20px; padding:11px 14px 12px; border:1px solid var(--border3); border-radius:4px; font-size:var(--font14); font-weight:var(--w-regular); color:var(--title); background:var(--white); }
.add-file li span.delete-file { display:inline-block; margin-left:8px; width:30px; height:20px; font-size:0; background:url(../images/ic_file_x.png)no-repeat 50%/12px auto; cursor: pointer;}

/*---------------------------------------------
	Input_주민등록번호 Number Custom
---------------------------------------------*/
.input-hyphen { display:flex; align-items: center; justify-content: center; font-size:var(--font14); }
.jumintext { position:absolute; left:34px; top:50%; transform: translateY(-50%); font-size:var(--font16); font-weight: var(--w-regular); color:var(--normal); }

/*---------------------------------------------
	Input_원/개월/% Text Custom
---------------------------------------------*/
/* .amount { position:relative; } */
.amount-txt { position:absolute; transform: translateY(-50%); top:50%; right:16px; font-size:var(--font16); font-weight:var(--w-bold); color:var(--normal); }

/*---------------------------------------------
	Input_원/개월/%_수수료 Text Custom
---------------------------------------------*/
.charge { display:flex; align-items: center; width:100%; width:100%; }/*20241231*/
.charge .col-2 { max-width:107px; }
.charge .tit { display:inline-block; padding-right:12px; width:39px; font-size:var(--font16); font-weight:bold;}
.charge .num { position:absolute; right:0; font-size:var(--font16); }
.charge .num > span { padding-right:5px; }

/*---------------------------------------------
	Input_인증번호 시간연장
---------------------------------------------*/
.form-group .timeNum { position:absolute; transform: translateY(-50%); top:50%; right:34px; color:var(--error); }
.form-group .timeNum::before,
.form-group .timeNum::before { content:''; position: absolute; top:50%; transform:translateY(-50%); right:-24px; width:20px; height:20px; }
.form-group .timeNum::before { background: url(../images/ic_time_off.png) no-repeat 100%/20px auto; }
.form-group .timeNum.active::before { background: url(../images/ic_time_on.png) no-repeat 100%/20px auto; }

/*********************************************************************
INPUT_ CHECKBOX/RADIO/Toggle  #체크박스 #라디오 #토글
*********************************************************************/
/*---------------------------------------------
	Input_Radio Style
---------------------------------------------*/
.form-group > ul.radio-box input[type="radio"] ,
.form-group > ul.check-box input[type="checkbox"] {  min-width:24px; width:24px; height:24px;   }

.form-group > ul.check-box li>label,
.form-group > ul.radio-box li>label { line-height:24px; /*padding-left:10px;*/  }

.form-group > ul.radio-box input[type="radio"]:checked + label,
.form-group > ul.check-box input[type="checkbox"]:checked  + label { font-weight: var(--w-bold); color:var(--title); }

.form-group ul.radio-box>li,
.form-group ul.check-box>li{ display:flex; column-gap:10px; }
.form-group > ul.radio-box input[type="radio"]:focus-visible,
.form-group > ul.check-box input[type="checkbox"]:focus-visible { outline: 1px solid var(--secondary); }

.form-group > ul.radio-box input[type="radio"] { border:7.5px solid var(--background1); background: var(--white); border-radius: 50%; }
.form-group > ul.radio-box input[type="radio"]:checked { background:var(--white); border:7.5px solid var(--secondary);  }

.form-group > ul.check-box input[type="checkbox"] { border:1px solid var(--border1); background: url(../images/common/ic_check_off.png) no-repeat var(--white) 50%/12px; }
.form-group > ul.check-box input[type="checkbox"]:checked { border:1px solid var(--secondary); background: url(../images/common/ic_check_on.png) no-repeat var(--secondary) 50%/12px; }
.form-group > ul.check-box input[type="checkbox"]:disabled { border:1px solid var(--border2); background: url(../images/common/ic_check_off.png) no-repeat var(--background1) 50%/12px; }

/*---------------------------------------------
	Input_Radio disabled
---------------------------------------------*/
.form-group > ul.radio-box input[type="radio"]:checked:disabled { opacity:60%; }
.form-group > ul.radio-box input[type="radio"]:disabled + label { color:var(--border2); }

/*---------------------------------------------
	Input_Toggle style
---------------------------------------------*/
.form-group > div.toggle-box input[type="checkbox"] { display:inline-block; width:40px; height: 24px; border-radius: 12px;;  background:var(--background1); transition:all 0.3s ease; }
.form-group > div.toggle-box input[type="checkbox"]:before { content:''; position:absolute; top:50%; left:3px; transform: translateY(-50%); width:20px; height:20px; border-radius: 50%; background: var(--white); box-shadow:0px 2px 5px 0px rgba(23,4,61,0.2);  }

.form-group > div.toggle-box input[type="checkbox"]:checked { background: var(--secondary); }
.form-group > div.toggle-box input[type="checkbox"]:checked::before { background: var(--white); left:auto; right:3px;}

.form-group > div.toggle-box input[type="checkbox"]:focus-visible { outline: 1px solid var(--secondary); }

/*---------------------------------------------
	약관 체크박스
---------------------------------------------*/
/** 약관 레이아웃 **/
.terms-area { display:inline-block; max-width:557px; width:100%; border:1px solid var(--border3); }
.terms-wrap input[type="checkbox"] { display:block; position:absolute; top:0; left:0; width:100%; height:100%; appearance:none; background-color:transparent; -webkit-appearance:none; cursor: pointer; }
.terms-area + .form-group,
.tit-main-area + .result-wrap { margin-top:40px; }

/* [전체] - 전체체크 */
.terms-wrap .chk-all + .terms-wrap.level2 { margin-top:20px; }
.terms-wrap.level1 { padding:12px 20px; border-bottom:1px solid var(--border3); }
.terms-wrap.level1 input { width:24px; height:24px; border:1px solid var(--border1); border-radius: 50%; background:url(../images/common/ic_check_off.png) no-repeat 50%/12px auto; }
.terms-wrap.level1 input:checked { border:1px solid var(--secondary); background:url(../images/common/ic_check_on.png) no-repeat var(--secondary) 50%/12px auto; }
.terms-wrap.level1 input + label  { padding-left:34px; color:var(--normal); line-height: 24px; }
.terms-wrap.level1 input:checked + label > span { font-weight: var(--w-bold); color:var(--titl); }

/* [필수/선택] - 개별체크 */
.terms-box { padding:20px; }
.terms-wrap.level2 + .level2 { margin-top:16px; }
.terms-wrap.level2 .btn.btn.btn-text.small { z-index:1; position:absolute; right:20px; padding-top:2px; line-height:21px; }

.terms-wrap.level2 input[type="checkbox"] { width:24px; height:24px; background: url(../images/common/ic_check_off.png)no-repeat 50%/12px auto; }
.terms-wrap.level2 input[type="checkbox"]:checked { width:24px; height:24px;  background: url(../images/common/ic_chk2_on.png)no-repeat 50%/12px auto; }
.terms-wrap.level2 input[type="checkbox"] + label { line-height: 24px; padding: 0 10px 0 34px; color:var(--normal); }

/* 약관 포커스 */
.terms-wrap input[type="checkbox"]:focus-visible{ outline: 1px solid var(--secondary); }

/*********************************************************************
SELECT #셀렉트
*********************************************************************/

/*---------------------------------------------
	Select Reset
---------------------------------------------*/
.select-box > .se-select select::-ms-expand { display: none; }
.select-box > .se-select { position: relative;  display: inline-block; }
.select-box > .se-select select { line-height: initial;  -webkit-appearance: none; -moz-appearance: none; -o-appearance:none; appearance: none;  border: none; border-radius: 0; background-color: none; outline: none;  }
.select-box > .se-select select::-ms-value { background-color: transparent; color: var(--normal); }

/*---------------------------------------------
	Select Default
---------------------------------------------*/
.select-box > .se-select { width:100%; max-width:410px; }
.select-box > .se-select label { display:inline-block; font-size:var(--font14); color:var(--normal); }
.select-box > .se-select select { z-index:1; position:relative; width: 100%; height: 46px; padding: 0px 28px 0 16px; line-height:1.5; font-size: var(--font16); font-weight:var(--w-regular); color:var(--subtitle); background-color:var(--white); border: solid 1px var(--border2);  overflow: hidden; text-overflow: ellipsis; white-space: nowrap;  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; cursor: pointer;}
.select-box > .se-select select { background: url(../images/common/ic_select_off.png)no-repeat var(--white) top 50% right 16px/20px; }
.select-box > .se-select[data-status=open] select { background: url(../images/common/ic_select_on.png)no-repeat var(--white) top 50% right 16px/20px;}
.select-box > .se-select select option { background-color:var(--white);  color: var(--normal); }
/* select disabled */
.select-box > .se-select select:disabled,
.select-box > .se-select select[disabled=disabled],
.select-box > .se-select[data-stove=select] select[disabled]  { border-color: var(--border2); background-color:var(--background2); color: var(--inactive); opacity: 1; cursor: initial; }
/* select readonly */
.select-box > .se-select select:disabled[data-status=readonly],
.select-box > .se-select select[disabled=disabled][data-status=readonly] {  border-color: var(--border2); background-color:var(--white); }
/* select focus - default */
.select-box > .se-select select:disabled[data-status=readonly]:focus-visible,
.select-box > .se-select select[disabled=disabled][data-status=readonly]:focus-visible { background-color:var(--white); }
/* select focus - custom */
.select-box > .se-select[data-stove=select][data-status=open] select,
.select-box > .se-select[data-stove=select][data-status=open] select:focus-visible,
.select-box > .se-select select:focus-visible { border: 1px solid var(--normal); }
.select-box > .se-select[data-stove=select] div.stove-option-layer div.stove-option-scroll div.stove-options button.stove-option:focus-visible { border: 1px solid var(--normal); }
/*select error - default [현재는 form-group에 error 클래스를 추가하여 전체 스타일 적용상태]*/
.form-group.error .select-box > .se-select select,
.form-group.error .select-box > .se-select select[data-status=error],
.form-group.error .select-box > .se-select select:invalid { border-color: var(--error); background-color:var(--white); opacity: 1; }
/* Select select[선택] */
.select-box > .se-select[data-stove=select] select{ color:var(--normal); }

/*---------------------------------------------
	Select Stove Custom
---------------------------------------------*/
.select-box > .se-select[data-stove=select] div.stove-dim { z-index: 11; display: none; position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); }
.select-box > .se-select[data-stove=select] div.stove-dim.on { display: block; }
.select-box > .se-select[data-stove=select] div.stove-option-layer {z-index:12; overflow: hidden; position: absolute; left: 0px; width: 100%; background-color:var(--white); box-sizing: border-box; border: 1px solid transparent; border-color: var(--border2); outline: none; }
.select-box > .se-select[data-stove=select] div.stove-option-layer div.stove-options-title { display: none; }
.select-box > .se-select[data-stove=select] div.stove-option-layer div.stove-option-scroll { position: relative; width: 100%; height: 100%; max-height: 200px; overflow-y: auto; }
.select-box > .se-select[data-stove=select] div.stove-option-layer div.stove-option-scroll div.stove-options button.stove-option { width: 100%; height: 46px; padding: 14px 16px; font-size: var(--font16); line-height: 1; background-color:var(--white); border: none; text-align: left; color:var(--subtitle); box-sizing: border-box; cursor: pointer; }
.select-box > .se-select[data-stove=select] div.stove-option-layer div.stove-option-scroll div.stove-options button.stove-option.on { font-weight: var(--w-bold); }
.select-box > .se-select[data-stove=select] div.stove-option-layer div.stove-option-scroll div.stove-options button.stove-option:hover { background-color:var(--background2); color:var(--normal); }
.select-box > .se-select[data-stove=select] div.stove-option-layer div.stove-option-scroll div.stove-options button.stove-option[disabled] { background-color: transparent; opacity: 0.5; cursor: default; }
.select-box > .se-select[data-stove=select] div.stove-option-layer div.stove-option-scroll div.stove-options button.stove-option[disabled].on {  background-color: transparent; }
.select-box > .se-select[data-stove=select] div.stove-option-layer div.stove-option-scroll div.stove-options button.stove-option[disabled]:hover { font-weight: var(--w-regular); }
.select-box > .se-select[data-stove=select] div.stove-option-layer button.stove-btn-close { opacity: 0; position: absolute; top: 10px; right: 10px; width: 24px; height: 24px; border: 1px solid transparent; background-color: transparent; background-repeat: no-repeat; background-size: 24px; background-position: center center; cursor: pointer; }
.select-box > .se-select[data-stove=select] div.stove-option-layer.va-slide { position: fixed; top: auto; bottom: -100%; transition: bottom 300ms; border-color: transparent; border-radius: 10px 10px 0 0; overflow: hidden; }
.select-box > .se-select[data-stove=select] div.stove-option-layer.va-slide div.stove-options-title { display: block; z-index: 9; position: absolute; top: 0; left: 0x; width: 100%; height: 40px; padding: 7px 30px 0px 15px; background-color: var(--white); font-size: var(--font18); }
.select-box > .se-select[data-stove=select] div.stove-option-layer.va-slide div.stove-option-scroll { max-height: 400px; }
.select-box > .se-select[data-stove=select] div.stove-option-layer.va-slide div.stove-option-scroll div.stove-options { padding: 35px 0 10px 0; }
.select-box > .se-select[data-stove=select] div.stove-option-layer.va-slide div.stove-option-scroll div.stove-options button.stove-option { height: 46px; }
.select-box > .se-select[data-stove=select] div.stove-option-layer.va-slide button.stove-btn-close { z-index: 10; opacity: 1; }
.select-box > .se-select[data-stove=select] div.stove-option-layer.va-slide.on { bottom: 0px; }
.select-box > .se-select[data-stove=select] div.stove-option-layer.va-upshow { top: auto; bottom: 100%; }

/*---------------------------------------------
	Select scroll 20241226
---------------------------------------------*/
.select-box > .se-select[data-stove=select] div.stove-option-layer div.stove-option-scroll::-webkit-scrollbar { width:11px; }
.select-box > .se-select[data-stove=select] div.stove-option-layer div.stove-option-scroll::-webkit-scrollbar-thumb { width:11px; background-color:var(--border2); border-radius:2px; }
.select-box > .se-select[data-stove=select] div.stove-option-layer div.stove-option-scroll::-webkit-scrollbar-track { width:14px; background-color:var(--background2); border-radius:5px; }
.select-box > .se-select[data-stove=select] div.stove-option-layer div.stove-option-scroll::-webkit-scrollbar-button {  height:100%; }

/*********************************************************************
Datepicker #데이터피커
*********************************************************************/
/*---------------------------------------------
	Datepicker Custom Default
---------------------------------------------*/
[class*='picker'].form-control { background:url(../images/ic_datepicker.png)no-repeat right 16px center/20px; }

.ui-datepicker { z-index:2; display: none; top: 0; left: 0; margin-top: 10px; margin-left: 10px; margin-right: 0px; padding: 20px; border-radius: 16px; border: 1px solid var(--border1); background: var(--white); box-shadow: 10px 10px 40px rgba(0,0,0,0.1); } 
.ui-datepicker table { width:100%; margin:0 0 16px; }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active { background-color: transparent; font-size:var(--font16); font-weight: 400; text-align: center; }
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus-visible { background-color: transparent; }
.ui-datepicker-buttonpane button:focus-visible { outline:1px solid #111; }
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight { font-weight:700; color:var(--secondary); }
input.form-control:read-only.datepicker:focus-visible,
.ui-state-default:focus-visible,
.ui-datepicker-close:focus-visible,
.ui-datepicker-current:focus-visible { border:1px solid var(--title); }

.ui-datepicker .ui-datepicker-header { position: relative; margin-bottom:37px; background: var(--white); }
.ui-datepicker .ui-datepicker-header .ui-datepicker-title .ui-datepicker-year,
.ui-datepicker .ui-datepicker-header .ui-datepicker-title .ui-datepicker-month,
.ui-datepicker .ui-datepicker-header .ui-datepicker-title { display:flex; justify-content: center; align-items: center; text-align: center; padding: 0px; font-size: var(--font18); font-weight: 700; color:var(--title); background: var(--white); }
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-header .ui-datepicker-next { cursor: pointer; }
.ui-datepicker .ui-datepicker-header .ui-datepicker-next { float: right; }

.ui-datepicke .ui-datepicker-calendar thead { margin-bottom:10px; }
.ui-datepicker-calendar>thead>tr>th { text-align: center; padding-bottom: 20px; font-size: var(--font16); font-weight:600; }
.ui-datepicker-calendar>tbody>tr>td { border-radius: 100%; width: 40px; height: 40px; padding: 5px; text-align: center; font-size: var(--font16); cursor: pointer; }
.ui-datepicker-calendar>tbody>tr>td.ui-state-disabled { color: hsla(0, 0%, 80%, 1); cursor: auto; }
.ui-datepicker-calendar>tbody>tr>td.ui-state-disabled:hover { background-color: #fff; cursor: auto; opacity: inherit; }
.ui-datepicker-calendar>tbody>tr>td:hover { background-color: transparent; opacity: 0.6; }
.ui-datepicker-calendar>tbody>tr>td:first-child .ui-state-default{ color: red; }
.ui-datepicker-calendar>tbody>tr>td:last-child .ui-state-default{ color: #0099ff; }
.ui-datepicker-calendar>thead>tr>th:first-child { color: red; }
.ui-datepicker-calendar>thead>tr>th:last-child { color: #0099ff; }
.ui-datepicker-calendar>tbody>tr>td .ui-state-default.ui-state-active { display:flex; align-items:center; justify-content: center; width:30px; height:30px; line-height: 1; background: var(--secondary); border-radius: 50%; color:var(--white);}

.ui-widget-header .ui-datepicker-next { right:0;}
.ui-widget-header .ui-datepicker-next .ui-icon { right:0; background: url('../images/ic_cal_arrow.png')no-repeat 100%/24px auto; }
.ui-widget-header .ui-datepicker-prev .ui-icon { left:0; background: url('../images/ic_cal_arrow.png')no-repeat 100%/24px auto; transform: rotate(180deg); }
.ui-widget-header .ui-datepicker-next,
.ui-widget-header .ui-datepicker-prev { z-index:1; position:absolute; top:-2px; width:30px; height:30px; }
.ui-widget-header .ui-datepicker-next .ui-icon,
.ui-widget-header .ui-datepicker-prev .ui-icon { content:''; position:absolute; width:24px; height:24px; font-size:0; }

.ui-datepicker-buttonpane .ui-datepicker-current { float:right; }
.ui-datepicker-buttonpane button { cursor: pointer; color:var(--secondary); }

/*---------------------------------------------
	yeardatepicker popup Layout
---------------------------------------------*/
.layerpopup.laypop.yeardate .content-wrap { min-height:357px; }

/*********************************************************************
choose-wrap #선택버튼
*********************************************************************/
.choose-wrap .choose-group { padding-left:10px; padding-bottom:40px; margin-bottom:30px; border-bottom:1px solid var(--border3); font-size:0; }
.choose-wrap .choose-group:last-child { padding-bottom:20px; margin-bottom:20px; border-bottom:none; }
.choose-wrap .choose-group .choose { display:flex; align-items:center; flex-wrap:wrap; gap:12px; max-width:540px; width:100%; }
.choose-wrap .choose-group .choose li { display:inline-block; gap:12px; padding:9px 16px; border:1px solid var(--border2); border-radius:18px; font-size:0; cursor:pointer; }
.choose-wrap .choose-group .choose li button { background:transparent; font-size:var(--font14); color:var(--inactive); cursor:pointer; }
.choose-wrap .choose-group .choose li::before { content:none; }

/* 클릭 했을 때 */
.choose-wrap .choose-group .choose li.on { border:1px solid var(--secondary); }
.choose-wrap .choose-group .choose li.on button { font-weight:var(--w-bold ); color:var(--normal); }