/*********************************************************************
    #기본 레이아웃
*********************************************************************/
/*---------------------------------------------
	skipnavi
---------------------------------------------*/
#skipnavi li a { display:block; font-size:16px; font-size:1rem; width:100%; position:absolute; top:-10000px; left:0; text-align:center; z-index:999999; line-height:1; letter-spacing:0; }
#skipnavi li a:focus-visible { position:absolute; top:0; left:0; font-weight:600; color:var(--title); background:#EAEAEA; border:1px solid var(--secondary); padding:20px 0; line-height:1; }

/*---------------------------------------------
	header
---------------------------------------------*/
header { position:fixed; top:0; left:0; z-index:10; width:100%; min-height:45px; background-color: #FFFFFF; }
.header-wrap { position:fixed; top:0; z-index:200; padding:0 20px; width:100%; height:146px; border-bottom:1px solid var(--border1); background:var(--white); }

/* fix */
.header-wrap:has(.h-menu.fix) { background: var(--white); box-shadow: 0px 4px 6px #ddd; z-index:105; }

/*---------------------------------------------
	contentWrap
---------------------------------------------*/
/* subvisual-wrap */
.subvisual-wrap{  padding:17px 0 50px; }
.subvisual-wrap .breadcrumb-wrap { width:100%; text-align:right; }
.subvisual-wrap .breadcrumb-wrap ul > li{ display:inline-block; padding-right:30px; vertical-align:top;  }
.subvisual-wrap .breadcrumb-wrap ul > li a { display:inline-block; width:auto; min-width:16px; height:30px; font-size:var(--font14); font-weight:var(--w-regular); color:var(--subtitle); line-height:30px;  pointer-events : none; }
.subvisual-wrap .breadcrumb-wrap ul > li:last-of-type a { padding-right:0; font-weight:var(--w-bold); color:var(--title); }
.subvisual-wrap .breadcrumb-wrap ul > li::after { content:""; display:inline-block; position:absolute; top:50%; right:0; transform:translateY(-50%); width:30px; height:30px; background: url(../images/common/breadcrumb_arrow.png)no-repeat 50%/30px auto; }
.subvisual-wrap .breadcrumb-wrap ul > li:last-of-type::after { display:none; width:0; background:transparent; }
.subvisual-wrap .breadcrumb-wrap ul > li.home a{ display:inline-block; width:30px; height:30px; font-size:0; background: url(../images/common/home.png)no-repeat 50%/30px auto;}
.subvisual-wrap .breadcrumb-wrap ul > li a:focus-visible { outline:1px solid var(--secondary); }
.subvisual-wrap .text-wrap { padding-top:37px; }
/* contents */
.sub-content { padding:0 0 80px; margin:0 auto; max-width:1400px; width:100%; min-height:calc(100vh - 208px); }
.sub-content > div { width:100%; }
/*---------------------------------------------
	footer
---------------------------------------------*/
.footer-wrap { padding:26px 0 50px; color:var(--white); background-color:#3F3F3F; }
.footer-wrap .footer { margin:0 auto; }
.footer-wrap > div {  margin:0 auto 0; max-width:1400px; }
.footer-wrap .policy-link { display:flex; flex-wrap:wrap; gap:32px; font-size:var(--font16); font-weight:var(--w-bold); text-align:left; }
.footer-wrap .btn-wrap.policy-link .btn.btn-text { padding:4px; height:auto; font-weight:var(--w-bold); color:var(--white); }
.footer-wrap .btn-wrap.policy-link .btn:focus-visible { outline:1px solid var(--white); }

.footer-wrap .list-wrap .address { margin-top:23px; font-size:var(--font14); font-weight:var(--w-regular); }
.footer-wrap .list-wrap .address li + li { margin-top:7px; }
.footer-wrap .list-wrap .address li span + span { margin-left:20px; }
.footer-wrap .list-wrap .Copyright { margin-top:29px; font-size:var(--font14); font-weight:400; }
.footer-wrap .form-group.style2 {  position:absolute; top:0; right:0; }
.footer-wrap .form-group.style2 .select-box > .se-select[data-status="open"] select,
.footer-wrap .form-group.style2 .select-box > .se-select select:hover,
.footer-wrap .form-group.style2 .select-box > .se-select select:focus-visible,
.footer-wrap .form-group.style2  button:focus-visible  { border:1px solid var(--normal); outline: 2px solid var(--white); }